/* Reset de estilos e outras configurações globais... */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c1c1c;
    color: #fff;
}

header, nav, section, footer {
    margin: 20px;
}

h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* Ajuste para garantir alinhamento correto */
    margin: 0 auto; /* Centralizar o botão */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    header, nav, section, footer {
        margin: 10px;
    }
}

/* Estilizando a seção "Como Usar" */
#how-to-use {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

#how-to-use ol {
    list-style-type: none;
    counter-reset: item;
    margin-left: 20px;
}

#how-to-use ol li {
    counter-increment: item;
    margin-bottom: 10px;
}

#how-to-use ol li::before {
    content: counter(item);
    color: #d9534f;
    font-weight: bold;
    margin-right: 5px;
}