/* Reset de estilos e outras configurações globais... */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, section, footer {
    margin: 20px;
}

h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    header, nav, section, footer {
        margin: 10px;
    }